<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size=""> 
            <p>Woman, 27</p>
            </ion-col>
            <ion-col size="6"> 
              <p>Hej!</p>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between">
            <ion-col size=""> 
            <p>Woman, 42</p>
            </ion-col>
            <ion-col size="6"> 
              <p>Vad gör du ....</p>
            </ion-col>
          </ion-row>
         </ion-grid>
</ion-content>
